
EraMatch/Support/GoogleService-Info.plist
EraMatch/.DS_Store

*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

build/
*.o
*.LinkFileList
*.hmap

*~.nib/
*.swp
*~
*.dat
*.dep
